html {
    box-sizing: border-box;
    font-size: 100%; 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    background-color: rgb(13, 13, 162);
    margin: auto;
    text-align:justify; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: white; 
}
header {
    text-align: center;
    margin: auto; 
    width: 55%; 
}
h1 {
    margin-top: 10%; 
}

h3 {
    font-size: 1em;
    font-weight: 400;
}

a {
    color: orange; 
}
marquee {
    color: white; 
    font-size: 1.5em;
    width: 100%; 
    margin-top: 5%;
}

main {
    margin: auto; 
    margin-top: 3%;
    width: 60%; 
}
main p {
    line-height: 150%;
}

main img {
    display: block; 
    margin: auto; 
}
footer {
    width: 100%; 
    padding: 1%; 
    position: fixed; 
    bottom: 0%; 
}

#highlight {
    margin: auto; 
    width: 100%; 
    text-align: center;
    padding: 1%; 
    border: white 1px dashed; 
}

#green {
    color: rgb(127, 207, 6); 
}

#yellow {
    color: rgb(250, 202, 59); 
}

.pink {
    margin: auto; 
    font-size: 1em;
    text-align: center;
    color: rgb(253, 187, 197); 
}

#info {
    width: 60%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    flex-wrap: nowrap;
    padding: 1%; 
    border: white 1px dashed; 
}

#info div {
 flex-basis: 1;
 width: 50%;
 padding-left: 1%;  
}

div h3 {
    text-align: left;
}

#info img {
    flex-basis: 1; 
    width: 30%; 
}

#balloon {
    opacity: 0.5; 
    font-size: 3em;
    position: absolute; 
    z-index: 25; 
    animation: balloon infinite 120s alternate; 
}

@keyframes balloon {
 0% {
 top: 0%; 
 left: 0%; 
 }

 25% {
top: 5%; 
left: 50%; 

 }

 50% {
top: 50%; 
left: 95%;

 }

 75% {
top: 75%; 
left: 30%; 

 }
 100% {
    top: 40%; 
    left: 0%; 
 }

}

@media screen and (max-width: 600px) {
    html {
        font-size: 75%;
    }

    h3 {
        font-size: .75em;
        font-weight: 400;
    }
}